@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.5s ease;
}
.btn {
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  padding: 10px 20px;
  margin-top: 35px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  bottom: 0;
  position: absolute;
}
.btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
/* ! header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  margin: 0 7%;
  margin-top: 20px;
  position: relative;
}
.header .menu-list {
  display: none;
}
header .navbar {
  font-size: 14px;
  display: flex;
  gap: 42px;
}
header .navbar a {
  color: hsl(236, 13%, 42%);
}
header .navbar a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 0%);
}
.header .navbar .menu-close {
  display: none;
}
/* ! header end */

/* ! home start */
.home {
  padding: 0 7%;
  margin: 0 7%;
  margin-top: 20px;
  display: flex;
}
.home .home-wrapper {
  display: flex;
  gap: 25px;
}
.home .home-wrapper .home-wrapper-item:nth-child(1) {
  width: 66%;
}
.home .home-wrapper .home-wrapper-item:nth-child(2) {
  width: 34%;
}
.home .home-wrapper-item .home-wrapper-item-img img {
  width: 100%;
}
.home .home-wrapper-item-bottom {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}
.home .home-wrapper-item-bottom .home-wrapper-item-bottom-left {
  font-size: 45px;
  font-weight: 700;
  width: 50%;
  line-height: 1;
}
.home .home-wrapper-item-bottom .home-wrapper-item-bottom-right {
  font-size: 13px;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
  width: 50%;
  position: relative;
}
.home .home-wrapper .home-wrapper-item:nth-child(2) {
  background-color: hsl(240, 100%, 5%);
}
.home .home-wrapper-item-description {
  padding: 25px 20px;
}
.home .home-wrapper-item-description h2 {
  color: hsl(35, 77%, 62%);
  padding-bottom: 25px;
}
.home .home-wrapper-item-description .bold-paragraph {
  color: hsl(36, 100%, 99%);
  padding: 15px 0;
}
.home .home-wrapper-item-description .paragraph {
  color: hsl(233, 8%, 79%);
  padding-bottom: 25px;
  font-size: 12px;
  line-height: 1.5;
}
.home .home-wrapper-item-description .linie {
  border-top: 1px solid hsl(236, 13%, 42%);
}
/* ! home end */

/* ! blogs start */
.blogs {
  padding: 0 7%;
  margin: 0 7%;
  margin-top: 25px;
}
.blogs .blogs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.blogs .blogs-wrapper .blogs-wrapper-item {
  display: flex;
  width: 100%;
}
.blogs .blogs-wrapper .blogs-wrapper-item-img {
  height: 100px;
  width: 26%;
}
.blogs .blogs-wrapper .blogs-wrapper-item-desc {
  width: 74%;
  padding: 0 15px;
}
.blogs .blogs-wrapper .blogs-wrapper-item-desc h3 {
  color: hsl(233, 8%, 79%);
  font-size: 18px;
  font-weight: 600;
}
.blogs .blogs-wrapper .blogs-wrapper-item-desc .item-title {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 0;
}
.blogs .blogs-wrapper .blogs-wrapper-item-desc .item-title:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
.blogs .blogs-wrapper .blogs-wrapper-item-desc .paragraph {
  font-size: 12px;
  line-height: 1.7;
  color: hsl(236, 13%, 42%);
}
.blogs .blogs-wrapper .blogs-wrapper-item img {
  height: 100px;
}
/* ! blogs end */

/* ! footer start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  margin: 0 7%;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 1px;
}
.footer .icons i {
  margin-left: 5px;
  font-size: 20px;
  color: black;
}
.footer .icons i:hover {
  color: #0a58ca;
}
/* ! footer end */

/* responsive start */
@media (max-width: 1380px) {
  .home .home-wrapper-item-description {
    padding: 15px 20px;
  }
}
@media (max-width: 1296px) {
  .home .home-wrapper-item-description .paragraph:last-child {
    padding-bottom: 0;
  }
}
@media (max-width: 1158px) {
  .home .home-wrapper-item-description .paragraph:last-child {
    padding-bottom: 0;
  }
  .home .home-wrapper-item-description h2 {
    padding-bottom: 5px;
  }
}
@media (max-width: 1100px) {
  .home .home-wrapper-item-bottom .home-wrapper-item-bottom-left {
    font-size: 36px;
    font-weight: 600;
  }
  .home .home-wrapper-item-bottom .home-wrapper-item-bottom-right {
    font-size: 10px;
    
  }
  .home .home-wrapper-item-description h2 {
    padding-bottom: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .home .home-wrapper-item-description .bold-paragraph {
    padding: 15px 0;
    font-size: 12px;
  }
  .home .home-wrapper-item-description .paragraph {
    padding-bottom: 15px;
    font-size: 10px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .item-title {
    font-size: 80%;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .paragraph {
    font-size: 70%;
    line-height: unset;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item {
    gap: 5px;
  }
}
@media (max-width: 990px) {
  .home .home-wrapper-item-description h2 {
    padding-bottom: 0;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .home .home-wrapper-item-description .bold-paragraph {
    padding: 10px 0;
    font-size: 11px;
  }
  .home .home-wrapper-item-description .paragraph {
    padding-bottom: 10px;
    font-size: 10px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .item-title {
    font-size: 65%;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .paragraph {
    font-size: 65%;
    line-height: unset;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc {
    padding-right: 0;
    padding-left: 20px;
  }
  header {
    padding: 0 5%;
    margin: 0 5%;
    margin-top: 20px;
  }
  .home {
    padding: 0 5%;
    margin: 0 5%;
    margin-top: 20px;
  }
  .blogs {
    padding: 0 5%;
    margin: 0 5%;
    margin-top: 25px;
  }
  .footer {
    padding: 0 5%;
    margin: 0 5%;
    margin-top: 30px;
  }
}
@media (max-width: 790px) {
  .home .home-wrapper {
    flex-wrap: wrap;
  }
  .home .home-wrapper .home-wrapper-item:nth-child(1) {
    width: 100%;
  }
  .home .home-wrapper .home-wrapper-item:nth-child(2) {
    width: 100%;
  }
  .home .home-wrapper-item-description {
    margin: 20px 10px;
  }
  .home .home-wrapper-item-description h2 {
    padding-bottom: 0;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .home .home-wrapper-item-description .bold-paragraph {
    padding: 20px 0;
    font-size: 16px;
  }
  .home .home-wrapper-item-description .paragraph {
    padding-bottom: 15px;
    font-size: 14px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item img {
    height: 85%;
  }
  header {
    padding: 0 3%;
    margin: 0 3%;
    margin-top: 20px;
  }
  .home {
    padding: 0 3%;
    margin: 0 3%;
    margin-top: 20px;
  }
  .blogs {
    padding: 0 3%;
    margin: 0 3%;
    margin-top: 25px;
  }
  .footer {
    padding: 0 3%;
    margin: 0 3%;
    margin-top: 30px;
  }
}
@media (max-width: 672px) {
  .blogs .blogs-wrapper {
    flex-wrap: wrap;
    height: 100%;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item {
    
    width: 100%;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-img {
    width: auto;
    height: 300px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc {
    width: auto;
    height: auto;
    padding-right: 10px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc h3 {
    font-size: 40px;
    font-weight: 600;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .item-title {
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .paragraph {
    font-size: 25px;
    line-height: 1.4;
  }
  header {
    padding: 0 1%;
    margin: 0 1%;
    margin-top: 20px;
  }
  .home {
    padding: 0 1%;
    margin: 0 1%;
    margin-top: 20px;
  }
  .blogs {
    padding: 0 1%;
    margin: 0 1%;
    margin-top: 25px;
  }
  .footer {
    padding: 0 1%;
    margin: 0 1%;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .header .navbar {
    flex-direction: column;
    gap: 30px;
    position: fixed;
    top: 0;
    right: -100%;
    font-size: 15px;
    font-weight: 600;
    background-color: hsl(36, 100%, 99%);
    height: 100vh;
    z-index: 2;
    padding: 100px 100px 30px 30px;
    border-left: 1px solid black;
  }
  .header .navbar a {
    color: black;
  }
  .header .navbar .menu-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .header .menu-list {
    display: block;
  }
  .home .home-wrapper-item-bottom {
    flex-direction: column;
    gap: 10px;
  }
  .home .home-wrapper-item .home-wrapper-item-img img {
    height: 260px;
  }
  .home .home-wrapper-item-bottom .home-wrapper-item-bottom-left {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    line-height: 1.1;
  }
  .home .home-wrapper-item-bottom .home-wrapper-item-bottom-right {
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    position: relative;
  }
  .btn {
    margin-top: 10px;
    bottom: auto;
  }
  .home .home-wrapper .home-wrapper-item:nth-child(2) {
    margin-top: 60px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-img {
    height: 150px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc {
    padding: 0 15px;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc h3 {
    font-size: 30px;
    font-weight: 600;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .item-title {
    font-size: 18px;
    font-weight: 700;
    padding: 6px 0;
  }
  .blogs .blogs-wrapper .blogs-wrapper-item-desc .paragraph {
    font-size: 14px;
    line-height: 1.5;
  }
  .footer {
    font-size: 10px;
    letter-spacing: 1px;
    flex-direction: column;
    gap: 6px;
    padding: 0 1.5%;
    margin: 30px 20px 1.5% 1.5%;
    text-align: center;
  }
  .footer .icons i {
    font-size: 16px;
  }
  header {
    padding: 0 1.5%;
    margin: 0 1.5%;
    margin-top: 20px;
  }
  .home {
    padding: 0 1.5%;
    margin: 0 1.5%;
    margin-top: 20px;
  }
  .blogs {
    padding: 0 1.5%;
    margin: 0 1.5%;
    margin-top: 25px;
  }
}